<body>
  <div>
    <button id="logOut" (click)="logOut()">Log Out</button>
    <button class="image">
      <img src="../assets/Partner Logos/CyberHack-Logo-modified.png" alt="Cyberhack Logo">
    </button>
    <h1>Welcome, {{userName}}</h1>
    <button id="ngo-list" (click)="ngoList()">Registered NGO's</button>
  </div>
  <div>
    <table>
      <tr>
        <th>First Name</th>
        <td>{{ userFirstName }}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{ userLastName }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ userEmail }}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>{{ userPhone }}</td>
      </tr>
      <tr>
        <th>Current Position</th>
        <td>{{ currentPosition }}</td>
      </tr>
      <tr>
        <th>Years of Experience</th>
        <td>{{ yearsOfExperience }}</td>
      </tr>
      <tr>
        <th>Education Level</th>
        <td>{{ eduLvl }}</td>
      </tr>
      <tr>
        <th>Volunteer Interests</th>
        <td>{{ volInterests }}</td>
      </tr>
      <tr>
        <th>Weekly Hours</th>
        <td>{{ wklyHrs }}</td>
      </tr>
      <tr>
        <th>Criminal Check</th>
        <td>{{ crimCheck }}</td>
        <th>Available Now</th>
        <td>{{ avNow }}</td>
      </tr>
      <tr>
        <th>Work References</th>
        <td>{{ workRefs }}</td>
      </tr>
      <tr>
        <th>LinkedIn</th>
        <td>{{ linkedIn }}</td>
      </tr>

    </table>
    <div>
      <button class="eds-btns" (click)="updateProfile()">Edit Profile</button>
      <button class="eds-btns" (click)="changePassword()">Change Password</button>
    </div>
  </div>
</body>