/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
body {
  background-color: #001c30;
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  background-color: #176b87;
  border-radius: 10px;
  font-size: 120%;
  margin-top: 2%;
}

form {
  text-align: center;
  color: whitesmoke;
  background-color: #001c30;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

img {
  width: 30%;
}

mat-label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 110%;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: whitesmoke;
}

/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */

.homeButton {
  background-color: #001c30;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-color: #001c30;
  border: none;
  display: flex;
  justify-content: center;
}

.mat-checkbox {
  margin-top: 2%;
  text-align: center;
}