/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
body {
  background-color: #001c30;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button {
  background-color: #176b87;
  border-radius: 20px;
  width: 15%;
}

/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
.heading {
  color: whitesmoke;
  font-size: 300%;
  padding-top: 20%;
  text-align: center;
}

.loginPage {
  border-radius: 5px;
  font-size: 150%;
  margin-top: 5%;
  text-align: center;
}

/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */