<body>
  <div class="image" mat-icon-button matTooltip="Home">
    <button (click)="goHome()" class="homeButton">
      <img
        src="../assets/Partner Logos/CyberHack-Logo-modified.png"
        alt="Cyberhack Logo"
      />
    </button>
  </div>
  <h1>Reset User Password</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="userName" required />
      <mat-error
        *ngIf="
          resetPasswordForm.get('userName')?.touched &&
          resetPasswordForm.get('userName')?.invalid
        "
      >
        Please enter the user name for password reset.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input
        matInput
        formControlName="newPassword"
        [type]="showPassword ? 'text' : 'password'"
        required
      />
      <mat-error
        *ngIf="
          resetPasswordForm.get('newPassword')?.touched &&
          resetPasswordForm.get('newPassword')?.invalid
        "
      >
        Please enter a new password.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-checkbox
      class=".mat-checkbox"
      [checked]="showPassword"
      (change)="togglePasswordVisibility()"
      >Show Password</mat-checkbox
    >
    <br />
    <button type="submit" [disabled]="resetPasswordForm.invalid">
      Reset Password
    </button>
  </form>
</body>
