/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
body {
  background-color: #001c30;
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
  text-align: center;
  color: whitesmoke;
  background-color: #001c30;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: whitesmoke;
  margin-top: 3%;
  text-align: center;
}

img {
  width: 30%;
  margin-bottom: -5%;
}

mat-label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 110%;
}



/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */

.homeButton {
  background-color: #001c30;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-color: #001c30;
  border: none;
  display: flex;
  justify-content: center;
}

.mat-checkbox {

  margin-top: 2%;
  text-align: center;
}