/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/
/* GLOBAL*/

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #001c30;
  text-align: center;
}
form {
  text-align: center;
  color: whitesmoke;
  background-color: #001c30;
}

img {
  margin-bottom: -5%;
  width: 30%;
}

/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/
/*CLASSES*/

.homeButton {
  background-color: #001c30;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-color: #001c30;
  border: none;
  display: flex;
  justify-content: center;
}

.input {
  background-color: #001c30;
  border-radius: 10px;
  width: 40%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 10%;
  margin-bottom: 2%;
}

.input::placeholder {
  font-size: 150%;
  text-align: center;
}

.reset {
  background-color: #176b87;
  border-radius: 10px;
  font-size: 120%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 20%;
}