
<body>
  <div class="image" mat-icon-button matTooltip="Home">
    <button (click)="goHome()" class="homeButton">
      <img
        src="../assets/Partner Logos/CyberHack-Logo-modified.png"
        alt="Cyberhack Logo"
      />
    </button>
  </div>
   <form (ngSubmit)="resetPassword()">
    <input class= "input" type="email" name="email" [(ngModel)]="email" placeholder="Enter your email" required>
    <br>
    <button class="reset" type="submit">Admin, Please reset my password</button>
  </form>
  
</body>