/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/
/*GLOBAL*/

div {
  background-color: #001c30;
}

form {
  text-align: center;
  color: whitesmoke;
  background-color: #001c30;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 250%;
  padding: 3% 0%;
}

/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
/* CLASSES */
.btn {
  background-color: #176b87;
  border-radius: 10px;
  font-size: 200%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 2%;
  width: 20%;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: whitesmoke;
}

.formstyles {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 125%;
  width: 90%;
}

/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */
/*IDS */